<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Enables @Controller 另外：配置了mvc:resources就必须配置这个选项，否则handler mapping都失效了 
		@see http://stackoverflow.com/questions/7910845/the-handler-mapping-from-the-mvcresource-override-other-mappings-which-defined -->
	<mvc:annotation-driven />
	<context:component-scan base-package="me.arganzheng.project.reading" />

	<!-- Enables @Autowired -->
	<context:annotation-config />

	<!-- Forwards requests to the "/" resource to the "welcome" view -->
	<mvc:view-controller path="/" view-name="index" />

	<!-- Handles HTTP GET requests for /resources/** by efficiently serving 
		up static resources in the ${webappRoot}/resources/ directory -->
	<mvc:resources mapping="/resources/**" location="/resources/" />

	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<!-- 模板存放的路径 -->
		<property name="resourceLoaderPath" value="/WEB-INF/vm/" />

		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">UTF-8</prop>
				<prop key="output.encoding">UTF-8</prop>
			</props>
		</property>
	</bean>

	<!-- @see http://blog.rafaelsanches.com/2012/02/02/spring-mvc-velocity-dcevm/ -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="cache" value="false" />
		<property name="prefix" value="/templates/" />
		<property name="suffix" value=".vm" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="viewClass"
			value="org.springframework.web.servlet.view.velocity.VelocityToolboxView" />
		<!-- 注意必须与 VelocityLayoutViewResolver 搭配，默认是layout.vm <property name="layoutUrl" 
			value="/layout/main.vm" /> -->
		<property name="attributesMap">
			<map>
				<entry key="dateTool">
					<bean class="org.apache.velocity.tools.generic.DateTool" />
				</entry>
				<entry key="escapeTool">
					<bean class="org.apache.velocity.tools.generic.EscapeTool" />
				</entry>
			</map>
		</property>
		<property name="numberToolAttribute">
			<value>numberTool</value>
		</property>
	</bean>

</beans>