<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 说明：这里用这么长的namespace，而且是AccountMapper.java的全路径名，其实是规范来的，如果要使用Mapper的话。 
	see http://mybatis.github.io/mybatis-3/getting-started.html -->
<mapper namespace="me.arganzheng.project.reading.mapper.AccountMapper">
	<resultMap id="AccountResultMap" type="Account">
		<result column="id" property="id" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="name" property="name" />
		<result column="email" property="email" />
		<result column="password" property="password" />
		<result column="role" property="role" />
		<result column="status" property="status" />
	</resultMap>

	<sql id="AccountColumnList">
		id, created_time, modified_time, name, email, password,
		role, status
	</sql>

	<sql id="AccountTableName">t_reading_account</sql>

	<select id="selectAccountByName" parameterType="java.lang.String"
		resultMap="AccountResultMap">
		select
		<include refid="AccountColumnList" />
		from
		<include refid="AccountTableName" />
		where name = #{name}
	</select>

	<insert id="insert" parameterType="Account">
		insert into
		<include refid="AccountTableName" />
		(
		<include refid="AccountColumnList" />
		)
		values
		(null, now(), now(), #{name}, #{email}, #{password},
		#{role},
		#{status})
		<selectKey resultType="int" keyProperty="id">
			SELECT @@IDENTITY
			AS
			ID
		</selectKey>
	</insert>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from
		<include refid="AccountTableName" />
		where id = #{id}
	</delete>
</mapper>