<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.arganzheng.project.reading.mapper.UserMapper">
	<resultMap id="UserResultMap" type="User">
		<result column="id" property="id" />
		<result column="created_time" property="createdTime" />
		<result column="modified_time" property="modifiedTime" />
		<result column="username" property="username" />
		<result column="email" property="email" />
		<result column="password" property="password" />
		<result column="role" property="role" />
		<result column="status" property="status" />
	</resultMap>

	<sql id="UserColumnList">
		id, created_time, modified_time, username, email, password,
		role, status
	</sql>

	<select id="selectUserByUsername" parameterType="java.lang.String"
		resultMap="UserResultMap">
		select
		<include refid="UserColumnList" />
		from t_reading_user
		where username = #{username}
	</select>

	<insert id="insert" parameterType="User">
		insert into
		t_reading_user
		(
		<include refid="UserColumnList" />
		)
		values
		(null, now(), now(), #{username}, #{email}, #{password}, #{role},
		#{status})
		<selectKey resultType="int" keyProperty="id">
			SELECT @@IDENTITY
			AS ID
		</selectKey>
	</insert>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from
		t_reading_user
		where id = #{id}
	</delete>
</mapper>