<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>

	<typeAliases>
		<typeAlias type="me.arganzheng.project.reading.model.User"
			alias="User" />
	</typeAliases>

	<typeHandlers>
		<typeHandler
			handler="me.arganzheng.project.reading.common.StringListTypeHandler"
			javaType="string" jdbcType="VARCHAR" />
	</typeHandlers>

</configuration>