#if($book)
<div class="media" style="padding-bottom:15px; border-bottom: 1px solid #EBE8D5;">
  <a class="pull-left" href=#if($showDetail) $!{book.detailLink} #else #getBookDetailLink($!{book.id}) #end target="_blank">
	<img class="media-object" data-src="" src="$!book.image"></img>
  </a>
  
  <div class="media-body">
    <h4 class="media-heading">$!book.title #if($!{book.subtitle} && $!{book.subtitle} != "") -- $!{book.subtitle} #end 
    	<form class="pull-right" action=#getLink("/my/book/share") method="POST">
    		<input type="hidden" name="isbn" value="$!book.isbn"/>
    		<input type="hidden" name="bookId" value="$book.id" />
    		<button class="btn btn-danger btn-small" id="btn-share" type="submit" onClick="return confirm('确定要分享吗?')">我要分享</button>
    	</form>
	</h4>
	<span class="label">ISBN</span> $!book.isbn<br>
	<span class="label">作者</span> 
		#foreach($author in $book.authors)
		<span>$author</span>
		#if( $foreach.hasNext ) | #end
		#end
	<br>
	<span class="label">出版日期</span> #formatDate($!book.pubdate)<br>
	<span class="label">页数</span> $book.pageCount<br>
	<span class="label">标签 </span>
	#foreach($tag in $book.tags)
		<span class="label  label-success">$tag</span>
	#end
	<br/>
	
	#if($book.ownerships)
    	#foreach( $ownership in $book.ownerships)
		<a href="#getUserRTXLink($ownership.owner)"><img class="img-rounded" width="20" height="20" src="#getUserAvatar($!{ownership.owner})" title="$!{ownership.owner}" /></a>
    	<a href="#getUserKMLink($ownership.owner)" target="_blank">$ownership.owner</a> 分享于 #formatDate($!{ownership.createdTime}) #showBookOwnershipStatus($ownership.status) 
			#if( $foreach.hasNext ) | #end
    	#end
	#end
	
  </div>
</div>

#if($showDetail)
<div>
	<h4>内容简介<a class="pull-right" href="$!book.detailLink" target="_blank">More »</a></h4>
	<p class="indent">$book.summary</p>
</div>
#end

#end