<!DOCTYPE html>
<html>
    #parse("/partial/header.vm")
	<body>
		<div class="container">
			<!-- navigation area -->
			#parse("/partial/navbar.vm")
			<!-- End navigation area -->

			<!-- main area-->
			$screen_content
			<!-- End main area-->			
			<!-- copyright area -->				    
		    #parse("/partial/footer.vm")
		    <!-- copyright area -->		
		</div>

	<!-- Load JS  -->
	<script src="$request.getContextPath()/resources/jquery/jquery.cookie.js"></script>
	<script src="$request.getContextPath()/resources/bootstrap/js/bootstrap.js"></script>	
	<script src="$request.getContextPath()/resources/reading/js/reading.js"></script>
	</body>

</html>



