<!DOCTYPE html>
<html>
	#parse("/partial/header.vm")
	<body>
		<!-- navigation area -->
		#parse("/partial/navbar.vm")
		<!-- End navigation area -->

	<div class="container-fluid">
			<!-- main area-->
			<div class="row-fluid" >
				$screen_content
			</div>
			<!-- End main area-->			
			<!-- copyright area -->				    
		    #parse("/partial/footer.vm")
		    <!-- copyright area -->		
		</div>

	<!-- Load JS  -->
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="$request.getContextPath()/resources/reading/js/reading.js"></script>
	<script src="$request.getContextPath()/resources/bootstrap/js/bootstrap.js"></script>	
	</body>

</html>



