#set( $layout = "layout/default.vm" )


<!-- marking area-->
<div class="hero-unit">
	<h1>论读书</h1>
	<hr />
	<p>读书足以怡情，足以博彩，足以长才。其怡情也，最见于独处幽居之时；其博彩也，最见于高谈阔论之中；其长才也，最见于处世判事之际。练达之士虽能分别处理细事或一一判别枝节，然纵观统筹、全局策划，则舍好学深思者莫属。</p>
　　  <p>读书费时过多易惰，文采藻饰太盛则矫，全凭条文断事乃学究故态。读书补天然之不足，经验又补读书之不足，盖天生才干犹如自然花草，读书然后知如何修剪移接；而书中所示，如不以经验范之，则又大而无当。</p>
　　  <p>有一技之长鄙读书，无知者慕读书，唯明智之士用读书，然读书并不以用处告人，用书之智不在书中，而在书外，全凭观察得之。读书时不可存心诘难作者，不可尽信书上所言，亦不可只为寻章摘句，而应推敲细思。</p>
　　  <p>书有可浅尝者，有可吞食者，少数则须咀嚼消化。换言之，有只须读其部分者，有只须大体涉猎者，少数则须全读，读时须全神贯注，孜孜不倦。书亦可请人代读，取其所作摘要，但只限题材较次或价值不高者，否则书经提炼犹如水经蒸馏，淡而五味矣。</p>
　　  <p>读书使人充实，讨论使人机智，笔记使人准确。因此不常做笔记者须记忆特强，不常讨论者须天生聪颖，不常读书者须欺世有术，始能无知而显有知。</p>
　     <p>读史使人明智，读诗使人灵秀，数学使人周密，科学使人深刻，论理学使人庄重，逻辑修辞之学使人善辩：凡有所学，皆成性格。人之才智但有滞碍，无不可读适当之书使之顺畅，一如身体百病，皆可借相宜之运动除之。滚球利睾肾，射箭利胸肺，慢步利肠胃，骑术利头脑，诸如此类。如智力不集中，可令读数学，盖演算须全神贯注，稍有分散即须重演；如不能辨异，可令读经院哲学，盖是辈皆吹毛求疵之人；如不善求同，不善以一物阐证另一物，可令读律师之案卷。如此头脑中凡有缺陷，皆有特药可医。</p>
	<br />
	<a href=#getLink("/book") class="btn btn-large btn-success">开始你的阅读旅程吧!</a>
</div><!-- End marking area-->


<div class="row-fluid marketing">
    <div class="span6">
      <h2>我要分享</h2>
      <p>分享是一种美德。把你看过的好书推荐给大家，让大家一起分享你的喜悦和收获吧。你可以通过这里找到志同道合的书友。</p>
      <p><a class="btn" href=#getLink("/my/book/share")>开始分享 &raquo;</a></p>
    </div><!-- /.span4 -->
	
    <div class="span6">
      <h2>我要借阅</h2>
      <p>读书使人进步。曾国藩都说：“人之气质，由于天生，本难改变，惟读书可以改变人。”。再没有比读书更高性价比的投资了。你还在等待什么呢？</p>
      <p><a class="btn" href=#getLink("/book")>开始借阅 &raquo;</a></p>
    </div><!-- /.span4 -->
</div>




