#set( $layout = "layout/default.vm" )

<script src="$request.getContextPath()/resources/bootstrap/js/bootstrap-paginator.min.js"></script>

<form class="form-search">
	<fieldset>
    	<input type="text" name="q" placeholder="ISBN、作者、书名" class="input-large search-query" value="$!q"/>
		<button type="submit" class="btn btn-success">搜索 »</button>
		<input type="hidden" id="pageIndex" name="pageIndex" value="$!pageIndex"/>
		<input type="hidden" id="pageSize" name="pageSize" value="$!pageSize"/>
	</fieldset>
</form>

#if($books.isNotEmpty())

#foreach($book in $books.getRecords())
	#parse("partial/book.vm")
#end

<div class="pagination pagination-right pagination-small"> 
	<ul id="pages">
<div id="paginator"></div>
<script type='text/javascript'>
    var options = {
        currentPage: $books.getPageIndex(),
        totalPages: $books.getPageCount(),
		numberOfPages:$!pageSize,
		size: "small",
		onPageClicked: function(e,originalEvent,type,page){
			$('#pageIndex').val(page)
    		$('#pageSize').val($!pageSize)
    		$(".form-search").submit()
        }
    }

    $('#paginator').bootstrapPaginator(options);
	// 增加totalRecord信息
	$("#paginator>ul").append('<li><a href="javascript:void(0);">共$books.getPageCount()页, $books.getRecordCount()本书</a></li>');
</script>
#end