#set( $layout = "layout/default.vm" )

<script src="$request.getContextPath()/resources/bootstrap/js/bootstrap-paginator.min.js"></script>

#if($books.isNotEmpty())
	
<form class="form-search">
	<fieldset>
    	<input type="text" name="isbn" placeholder="请输入ISBN" class="input-large search-query" value="$!{pagingCriteria.isbn}"/>
		<button type="submit" class="btn btn-success">查找 »</button>
	</fieldset>
</form>

#foreach($book in $books.getRecords())
	#parse("partial/book.vm")
#end

#showPaginator($books)

#else
<div class="alert alert-error">
	<p>抱歉，目前还没有人共享书籍:(。做第一个分享者吧:) &nbsp;<a href=#getLink("/my/book/share")>我要分享 &raquo;</a></p>
</div>
#end
