#set( $layout = "layout/default.vm" )

<form class="form-search">
	<fieldset>
    	<input type="text" name="q" placeholder="ISBN、作者、书名" class="input-large search-query" value="$!q"/>
		<button type="submit" class="btn btn-success">搜索 »</button>
	</fieldset>
</form>

#foreach($book in $books)
	#parse("partial/book.vm")
#end

