#set( $layout = "layout/default.vm" )

<script src="$request.getContextPath()/resources/bootstrap/js/bootstrap-paginator.min.js"></script>

<form class="form-search">
	<fieldset>
		<input type="hidden" id="pageIndex" name="pageIndex" value="$!pageIndex"/>
		<input type="hidden" id="pageSize" name="pageSize" value="$!pageSize"/>
	</fieldset>
</form>

<div class="row" style="margin:20px">
	<div class="btn-group">
		<a class="btn btn-success" href="$request.getContextPath()/my/book/share">分享新的书籍</a>
		<a class="btn btn-success" href="$request.getContextPath()/my/sharing">我的借出</a>
		<a class="btn btn-success" href="$request.getContextPath()/my/reading">我的阅读</a>
	</div>
</div>

#if($myBookOwnerships.isNotEmpty())

<table class="table table-bordered table-hover table-condensed">
    <thead >
        <tr>
			<th>ISBN</th>
            <th>书名</th>
            <th>分享时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
	#foreach($bookOwnership in $myBookOwnerships.getRecords())
		<input type="hidden" name="id" value="$!{bookOwnership.id}"/>
        <tr>
			<td>${bookOwnership.book.isbn}</td>
            <td>${bookOwnership.book.title}</td>
            <td>#formatDate($!{bookOwnership.createdTime})</td>
			<td>#showBookOwnershipStatus($bookOwnership.status)</td>
            <td>#showBookOwnershipAction($bookOwnership)</td>
        </tr>
    </tbody>
    #end
</table>

<div id="modal" class="modal fade" style="width: 480px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>借出记录</h4>
            </div> ## .modal-header
            <div class="modal-body"> 
                <table>
                    <tr>
                        <td>借阅人名称</td>
                        <td><input type="text" name="borrower" class="form-control" onkeyup="value=value.replace(/[^\w-]/ig,'')" /></td>
                    </tr>
                </table>
            </div> ## .modal-body
            <div class="modal-footer">
                <button name="save" type="button" class="btn btn-primary">确认借出</button>
                <button name="cancel" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div> ## .modal-footer
        </div> ## .modal-content
    </div> ## .modal-dialog 
</div> ## .modal

#showPaginator($myBookOwnerships)

#end

