#set( $layout = "layout/default.vm" )

<script src="$request.getContextPath()/resources/bootstrap/js/bootstrap-paginator.min.js"></script>

<div class="row" style="margin:10px">
  <h4><a href=#getLink("/my/reading?status=Lent")>我的当前在读书籍</a></h4>
</div>

#if($myReading.isNotEmpty())

<table class="table table-bordered table-hover table-condensed">
    <thead >
        <tr>
            <th>书名</th>
			<th>分享者</th>
            <th>借阅时间</th>
			<th>归还时间</th>
            <th>状态</th>
        </tr>
    </thead>
    <tbody>
	#foreach($share in $myReading.getRecords())
		<input type="hidden" name="id" value="$!{share.id}"/>
        <tr>
            <td><a href=#getBookDetailLink($share.bookId) target="_blank">${share.bookTitle}</a></td>
			<td>$!{share.owner}</td>
            <td>#formatDate($share.borrowTime)</td>
			<td>#formatDate($!{share.returnTime})</td>
			<td>#showBookOwnershipStatusForBorrower($share.status)</td>
        </tr>
    </tbody>
    #end
</table>

#showPaginator($myReading)

#end


