#set( $layout = "layout/default.vm" )

<script src="$request.getContextPath()/resources/bootstrap/js/bootstrap-paginator.min.js"></script>

<form class="form-search">
	<fieldset>
		<input type="hidden" id="pageIndex" name="pageIndex" value="$!pageIndex"/>
		<input type="hidden" id="pageSize" name="pageSize" value="$!pageSize"/>
	</fieldset>
</form>

<div class="row" style="margin:20px">
	<div class="btn-group">
		<a class="btn btn-success" href="$request.getContextPath()/my/book/share">分享新的书籍</a>
		<a class="btn btn-success" href="$request.getContextPath()/my/sharing">我的借出</a>
		<a class="btn btn-success" href="$request.getContextPath()/my/reading">我的阅读</a>
	</div>
</div>

#if($mySharing.isNotEmpty())

<table class="table table-bordered table-hover table-condensed">
    <thead >
        <tr>
            <th>书名</th>
			<th>借阅者</th>
            <th>借出时间</th>
			<th>归还时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
	#foreach($share in $mySharing.getRecords())
		<input type="hidden" name="id" value="$!{share.id}"/>
        <tr>
            <td><a href=#getBookDetailLink($share.bookId) target="_blank">$!{share.bookTitle}</a></td>
			<td>$!{share.borrower}</td>
            <td>#formatDate($share.borrowTime)</td>
			<td>#formatDate($!{share.returnTime})</td>
			<td>#showBookOwnershipStatus($share.status)</td>
            <td>#showBookOwnershipActionInner($!{share.status}, $!{share.bookOwnershipId})</td>
        </tr>
    </tbody>
    #end
</table>

#showPaginator($mySharing)

#end



