#set( $layout = "layout/default.vm" )

<form class="form-search">
	<fieldset>
        <legend>
			<p>如果你有一个苹果，我有一个苹果，彼此交换，我们每个人仍只有一个苹果；如果你有一个思想，我有一个思想，彼此交换，我们每个人都有两种思想，甚至多于两种思想 -- 萧伯纳</p>
		</legend>
    	<input type="text" id="isbn" name="isbn" placeholder="请输入你要分享的书的ISBN号码" class="input-large search-query">
		<button id="btn-share" type="submit" class="btn btn-success">分享 »</button>
	</fieldset>
</form>

<div id="modal" class="modal hide fade">
    <div id="modal-content" class="modal-body">
    </div>
</div>

<script language="JavaScript">
	$('#btn-share').click(searchBook);
	
	function searchBook(){
		$('#modal-content').html("loading");
    	$('#modal').modal('show');
    	
		$.ajax({
    	    type: 'GET',
    	    url: basePath + '/book/' + $('#isbn').val(),
    	    contentType: "application/x-www-form-urlencoded; charset=utf-8", 
			dataType: "json",
			success: function(d, s){
    	        if(d && d.id && d.id > 0){
	    		    $('#id').val(d.id);
	    		    var msg = "Save success!";
	    		    alert_success(msg)
					// setTimeout(window.location.href="/doc"+ d.slug, 5000);
	    		}else{
	    			var msg = "saveArticle failed! " + d.errorCode + ": " + d.errorMessage;
	    			alert_error(msg)
	    		}
    	 	},
			error: function(xhr, ts, e){
				var msg = "Send request error\n\n!" + e;
				alert_error(msg)
			}
		});
	}

	function alert(type, msg){
		$('#modal').modal('show');
		$('#modal-content').html('<div class="alert '+ type + '">' + msg + '</div>');
	    setTimeout("$('#modal').modal('hide')", 5000);
	}

	function alert_error(msg){
		alert("alert-error", msg)
	}

	function alert_success(msg){
		alert("alert-success", msg)
	}

	function alert_info(msg){
		alert("alert-info", msg)
	}

</script>
